body {
	background: #fff;
}

.game {
	.game-board {
		width: 700px;
		height: 700px;
		display: flex;
		flex-wrap: wrap;
	}

	.game-cell {
		width: 66px;
		height: 66px;
		border: 2px solid black;
	}
}

.active {
	background-color: tomato;
}

.option {
	background-color: green;
}

.game-btn {
	margin-top: 20px;
	width: 200px;
	padding: 20px;
	text-transform: uppercase;
}

.start {
	background-color: yellow;
}

.end {
	background-color: orange;
}
