body {
	background: #fff;
}

.game {
	.game-board {
		width: 700px;
		height: 700px;
		display: flex;
		flex-wrap: wrap;
	}
	.game-cell {
		width: 66px;
		height: 66px;
		border: 2px solid black;
	}
}

.active {
	background-color: tomato;
}
.option {
	background-color: green;
}
