@import './partials/colors';
@import './partials/path';
@import './partials/reset';
@import './partials/nav';
@import './partials/about';
@import './partials/responsive';

.container {
	position: relative;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background: $dark;
}

h1 {
	font-size: 5rem;
	font-weight: 900;
	color: $light;
	letter-spacing: 40px;
}

h2 {
	font-weight: 600;
	font-size: 3rem;
	color: $light;
	letter-spacing: 4px;
}

p {
	font-size: 2rem;
	font-weight: 300;
	color: $light;
	letter-spacing: 3px;
}

main {
	height: 620px;
}

footer {
	color: $light;
	text-align: center;
	padding-bottom: 20px;
}

span {
	font-size: 1rem;
	color: $light;
	font-weight: 400;
	letter-spacing: 2px;
}
